.container {
    font-family: "Monserrat", sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}


.container__news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 90%;
}

.container__title {
    color: black;
    font-size: 70px;
    justify-items: center;
}


.container__newsbox {
    height: 100px;
    border: black 1px solid;
    flex-grow: 1;
    flex-basis: 40%;
    min-height: 100px;
}

.image {
    max-height: 100%;
}